@font-face {
    font-family: "Canela";
    src: url("https://github.com/elaine-keller/elaine-keller.github.io/blob/main/fonts/Canela-Light-Web.woff") format("woff"),
    url("https://github.com/elaine-keller/elaine-keller.github.io/blob/main/fonts/Canela-Light-Web.woff2") format("woff2");
    }

    @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
    
    body {
    font-family: Canela,Helvetica,Arial,sans-serif;
}
h1 {
    font-family: 'Lora', serif;
    color: #000000;
    text-align: center;
  }